:root {
  --glow-rgb: 245 245 245;
  --light-gold-rgb: 249 181 51;
  --dark-gold-rgb: 215 147 23;
  --primary-stripe-rgb: 230 230 230;
  --secondary-stripe-rgb: 240 240 240;
}

body {
  background-color: black;
  cursor: none;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes pan {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

/* Container geral do app */
#app {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* Container onde o canvas será criado */
.canvas-container {
  width: 1280px;
  height: 960px;
  background-color: white;
  border: 2px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container de instruções (texto) */
.instruction-container {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(250%, -100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#instruction-text {
  font-size: 38px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

/* Container do jogo que engloba canvas e instrução */
#game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* Overlay de reinício */
#restart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-align: center;
  display: none; /* Inicialmente oculto */
  z-index: 10;
}

/* Overlay de início */
#start-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  text-align: center;
  z-index: 10;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

#start-overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

#gesture-gif {
  width: 150px;
  margin-top: 20px;
}

/* Estilos para o fundo com estrelas */
#star-container {
  background: radial-gradient(rgb(var(--light-gold-rgb)), rgb(var(--dark-gold-rgb)));
  height: 100%;
  overflow: hidden;
  position: relative;
}

#star-pattern {
  background-image: url("https://assets.codepen.io/1468070/Star+Pattern+3.svg");
  background-size: 10%;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0%;
  z-index: 0;
  height: 100%;
  width: 100%;
  min-width: 1200px;
  opacity: 0.10;
  animation: pan 180s linear infinite;
  will-change: background-position;
}

#star-gradient-overlay {
  background: radial-gradient(circle, transparent 75%, rgb(var(--dark-gold-rgb)));
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: 2;
}
